<a href="https://colab.research.google.com/github/vxvrma/My-first-repository/blob/master/Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#Lists
labgroup_1=["Vishnu", "Vivek", "Yash", "Gaurav"]
labgroup_2=['Shabeeb', 'Sai', 'Santhosh', 'Rohit']
labgroups=[labgroup_1,labgroup_2]
labgroup_3=[]
mylist=['Vishnu']*5
print(mylist)
print('Labgroup 1: {}'.format(labgroup_1))
print('Size of Labgroup 1: {}'.format(len(labgroup_1)))
print("Type of Labgroup 1: {}".format(type(labgroup_1)))
for member in labgroup_1:
    print(member)
labgroup_3=labgroup_1+['Shabeeb']
print(labgroup_3)

['Vishnu', 'Vishnu', 'Vishnu', 'Vishnu', 'Vishnu']
Labgroup 1: ['Vishnu', 'Vivek', 'Yash', 'Gaurav']
Size of Labgroup 1: 4
Type of Labgroup 1: <class 'list'>
Vishnu
Vivek
Yash
Gaurav
['Vishnu', 'Vivek', 'Yash', 'Gaurav', 'Shabeeb']

In [23]:
#Tuples
lab_group=('Vishnu', 'Vivek', 'Yash', 'Gaurav')
print(lab_group)
lab_group1=('Vishnu','Vishnu', 'Yash', 'Gaurav')
print(lab_group,'\n',lab_group1)
lab_group1=lab_group+lab_group
print(lab_group1)
#tuple cannot be edited like this
#lab_group1=lab_group+('Vishnu')
print(lab_group1)

('Vishnu', 'Vivek', 'Yash', 'Gaurav')
('Vishnu', 'Vivek', 'Yash', 'Gaurav')
 ('Vishnu', 'Vishnu', 'Yash', 'Gaurav')
('Vishnu', 'Vivek', 'Yash', 'Gaurav', 'Vishnu', 'Vivek', 'Yash', 'Gaurav')
('Vishnu', 'Vivek', 'Yash', 'Gaurav', 'Vishnu', 'Vivek', 'Yash', 'Gaurav')

In [25]:
#Dictionary
labgroup_1={'Vishnu':18, 'Vivek':19, 'Yash':20, 'Shubham':17}
print(labgroup_1)
print('Lab group 1: {}'.format(labgroup_1))

{'Vishnu': 18, 'Vivek': 19, 'Yash': 20, 'Shubham': 17}
Lab group 1: {'Vishnu': 18, 'Vivek': 19, 'Yash': 20, 'Shubham': 17}